<h3 id="heading" class="mt-4 text-center"></h3>
<div id="topic_body" class="row">
    <div class="embed-responsive embed-responsive-16by9 mt-4">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{link}}" allowfullscreen></iframe>
    </div>
</div>

<script>
    // set the title
    document.getElementById('title').innerText = "{{title}}"
    
    // set the heading
    // setting this way because of &amp;
    const heading_ = document.getElementById('heading')
    heading_.innerHTML = "{{ heading }}"

    // set the active link dynamically
    var nav_selected = document.getElementById('{{ nav_selected }}')
    if ("{{ heading }}".split('-')[0] == 'YOUTUBE') {
      nav_selected = document.getElementById('youtube')
      var splitted_heading_ = "{{ heading }}".split('-')
      splitted_heading_.shift()
      heading_.innerHTML = splitted_heading_.join('-') || 'TOPICS'
    }
    nav_selected.className += ' active'

</script>